**/*.log
**/logs
**/logs.*
**/*.vscode
**/*.pyc
**/__pycache__
**/*.pytest_cache
**/*.cache
**/*tmp/*
**/env/
**/venv/
**/.venv/
**/*.md
README*.md
**/*.template
**/[dD]ockerfile
**/*compose.yaml
**/*compose.yml
**/.dockerignore
**/.gitignore
**/*.git
